.jumbotron {
    background-color: #2d6cff;
    color: black;
    margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .row {
    flex-direction: column;
  }
  .card-footer {
    margin-bottom: 20px;
  }
}

footer {

    padding: 10px 10px 0 10px;
    background-color: #bbbbbb;
    margin-bottom: 0px;
    margin-top: 10px;
}

.card-prod {
    flex: 1 150px;
    padding: 10px 10px 20px;

}

.card-footer{
    flex:1;
    align-items: normal;
    margin-left: 100px;

}

.navbar {
    margin-left: 0px;
}

.breadcrumb{
    background-color: rgb(204, 204, 204);
    margin-right: 700px;

}

.btn{
    margin-bottom: 10px;
}

.carousel-item img {
    height: 250px;
  }
